<div class="container">
    <br>
    <br>
    <br>
    <div class="twelve columns">
    </div>
    <div class="row">
        <div class="one column">
            {{#if project.right}}
            <a href="./{{project.right}}">
                <img class="category_rtArrow" src="/images/arrow_rt.png" class="u-img-responsive projectsImg" />
            </a>
            {{/if}}
        </div>
        <div class="item_container">
            <div class="six columns">
                <img src="/images/{{project.image}}" class="u-img-responsive projectsImg" />
            </div>
        </div>
        <div class="container">
            <div class="four columns projectsCategory">
                <hr class="category_hr">
                <br>
                <div>{{project.cat}}</div>
                <h6>{{project.name}}</h6>
                <div>{{project.desc}}</div>
            </div>
        </div>
        <div class="container">
            <div class="one column">
                {{#if project.right}}
                <a href="./{{project.right}}">
                    <img class="category_rtArrow" src="/images/arrow_rt.png" class="u-img-responsive projectsImg" />
                </a>
                {{/if}}
            </div>
        </div>
    </div>
</div>