<div class="container-fluid">
    <div class="row">
    </div>

    <!--    </div>-->
    
    {{! Handlebars template "projects.handlebars" which renders a project}}

<h1>{{projects.name}}</h1>
<div class="three columns">
   <p>{{projects.slug}}</p>
    <img src="{{projects.image}}" />
</div>
    
    
    
    
    

<!--
    <div class="container">
        <div class="twelve columns" class="body-projects">
            I am learning {{language}}. It is {{{adjective}}}.
-->
        </div>